##
# Mapproxy
##
server {
        listen 80 default_server;
        listen [::]:80 default_server;
        root /vagrant_www/;
        server_name localhost:80;

        location /mapproxy {
                proxy_pass http://localhost:8080;
                proxy_set_header Host $http_host;
                proxy_set_header X-Script-Name /mapproxy;
        }

}
